body {
    color: black; 
    background-color: black;
    text-transform: uppercase;
    font-family: sans;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: black;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
div.card {
    width: 545px;
    height: 335px;
    box-shadow: 0 0px 50px 0 rgba(255,255,255,0.5), 0 0px 200px 0 rgba(255,255,255,0.5);
    padding: 25px
}

div.card1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.card2 {
    color: black;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;
    grid-gap: 0.8em
}

div.card2upper {
    display: grid;
    grid-template-columns: 37% 63%;
    grid-template-rows: 1fr 1fr;
}

div.cell {
    /*border: 1px solid red;*/
}

div.footer {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
}

table {
    margin: 25px;
}

td {
     /*border: 1px solid black;*/
     vertical-align: top;
}

.heading {
    font-size: 1em;
    font-weight: bold;
}

.author {
    color: #a0a0a0;
}

ul.general {
    list-style: none;
    padding-left: 0;
    font-size: 0.85em;
    margin-top: 2px;
}​

ul.refe {
    font-size: 36px;
}

.left-column {
    width: 37%;
}

.right-column {
    width: 63%;
}

img.externallink {
    width: 0.9em;
    opacity: 0.7
}

img.icon {
    width: 1.3em;
}
