@font-face {
    font-family: "Signika";
    src: url("Fonts/Signika-SemiBold.ttf");
}

body {
    color: white; 
    background-color: black;
    text-transform: uppercase;
    font-family: Signika, sans;
    min-width: 700;
    height: 100vh;
    width: 100vw;
}

a {
    color: black;
    text-decoration: none;
} 

a:hover {
    color: white;
    background-color: black;
}

a:hover > div {
    background-color: black;
}

a:hover .annotation {
    color: /*#a0a0a0*/ red;
}

/*a::after {
    display: inline-block;
    background: url("external.svg");
    background-repeat: no-repeat;
    background-size: 12px 12px;
    content: "";
    width: 12px;
}*/

#instagram:hover {
    background-color: transparent;
}

div.headerdiv {
    height: 20vh;
}

/* Mobile */
div.container {
    display: grid;
    grid-template-rows: 385px 30px auto 385px 30px auto 1fr;
    grid-template-columns: 1fr 595px 1fr;
    grid-row-gap: 0px;
    grid-template-areas:
    ". card1 ."
    ". control1 ."
    ". card3 ."
    ". card2 ."
    ". control2 ."
    ". card4 ."
    ". localmessage .";
}

/* High screen resoluion */
@media screen and (min-width: 1200px) {
    div.container {
        display: grid;
        grid-template-rows: /*385px 30px 385px 3fr;*/auto;
        grid-template-columns: 1fr 595px 595px 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 0px;
        grid-template-areas:
        ". card1 card2 ."
        ". control1 control2 ."
        ". card3 card4 ."
        ". localmessage localmessage .";
    }
}

div.container > div {
    /*border: 2px solid red*/
}

.highlighted {
    color: darkred;
}

.inversed {
   background-color: #111111 !important;
   color: white;
}

.inversed h1 {
    color: white;
}

.inversed a{
    color: white;
}

.inversed a:hover{
    color: black;
    background-color: white;
}

div.card {
    height: auto;
    box-shadow: 0 0px 50px 0 rgba(255,255,255,0.5), 0 0px 200px 0 rgba(255,255,255,0.5);
    padding: 25px;
    color: black;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 67px 1fr;
    /*grid-gap: 10px;*/
}

div.card:empty {
    padding: 50px;
    margin: 50px;
}

div.localmessage {
    margin-top: 50px;
    color: white;
    text-transform: none;
    box-shadow: 0 0px 50px 0 rgba(255,255,255,0.3), 0 0px 200px 0 rgba(255,255,255,0.3);
    padding: 25px;
    grid-area: localmessage;
}

div.localmessage a {
    color: white;
    text-decoration: underline;
}

#card3 {
    display: none;
    margin-bottom: 50px;
}

div.card2upper {
    
}

div.cell {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: max-content;
}

div.cell:hover {
    /*border: 1px solid red;*/
}

div.footer {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
}

.heading {
    font-size: 15px;
    font-weight: bold;
}

h1 {
    font-family: "Signika", sans;
    /*color: white;*/
    /*background-color: lightblue;*/
    font-size: 40px;
    margin: 0;
}

button {
    color: darkgrey;
    font-weight: bold;
    font-family: Signika, sans;
    background-color: transparent;
    font-size: 18px;
    border: none;
    padding: 4px;
    cursor: hand;
    width: 100%;
}

button:hover {
    color: black;
    background-color: white;
    border: 1px solid white;
}

button:focus {
    outline: none;
}

.annotation {
    color: #a0a0a0;
    font-size: 14px;
    text-transform: none;
}

ul.general {
    list-style: none;
    padding-left: 0;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0px;
}​

li {
    
}

/*#card2 ul li {
    padding: 0 0 15px 0;
}*/

ul.general li {
    padding: 0 0 5px 0;
}

li::before {
    /*content: '\25BA';*/
}

img.externallink {
    width: 0.9em;
    opacity: 0.7
}

img.icon {
    width: 1.3em;
}

div.video {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    background-color: #f8f8f8;
}

div.video img {
    height: auto;
    width: auto;
    max-height: 50px;
    margin-right: 10px;
}

div.link {
    display: grid;
    background-color: white;
    grid-template-rows: 1fr;
    grid-template-columns: 30px 1fr;
    grid-gap: 5px;
    grid-template-areas:
    "icon text";
    border: 1px solid #e0e0e0
}

div.thumbnail {
    grid-area: thumbnail;
}

div.icon {
    grid-area: icon;
}

div.video div.text {
    grid-area: text;
}

div.link div.text {
    grid-area: text;
}

div.video::hover {
    background-color: black;
    color: white;
    width: 70%
}

div.youtube img {
    width: 100%;
}

div.link img {
    width: 100%
}
