body {
    color: white; 
    background-color: black;
    text-transform: uppercase;
    font-family: sans;
    min-width: 700;
    height: 100vh;
    width: 100vw;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: black;
}

div.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 385px 385px 1fr;
    grid-template-columns: 1fr 595px 1fr;
    grid-gap: 50px;
    grid-template-areas:
    ". . ."
    ". card1 ."
    ". card2 ."
    ". localmessage ."
}

@media screen and (min-width: 1200px) {
    div.container {
        display: grid;
        height: 100vh;
        grid-template-rows: 1fr 385px 3fr;
        grid-template-columns: 1fr 595px 595px 1fr;
        grid-gap: 50px;
        grid-template-areas:
        '. . . .'
        '. card1 card2 .'
        '. localmessage localmessage .';
    }
}

div.container > div {
    /*border: 2px solid red*/
}

div.card {
    box-shadow: 0 0px 50px 0 rgba(255,255,255,0.5), 0 0px 200px 0 rgba(255,255,255,0.5);
    padding: 25px
}

div.card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: card1;
}

div.card2 {
    color: black;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;
    grid-gap: 10px;
    grid-area: card2;
}

div.localmessage {
    margin-top: 50px;
    color: white;
    text-transform: none;
    box-shadow: 0 0px 50px 0 rgba(255,255,255,0.3), 0 0px 200px 0 rgba(255,255,255,0.3);
    padding: 25px;
    grid-area: localmessage;
}

div.localmessage a {
    color: white;
    text-decoration: underline;
}

div.card2upper {
    display: grid;
    grid-template-columns: 37% 63%;
    grid-template-rows: 1fr 1fr;
}

div.cell {
    /*border: 1px solid red;*/
}

div.footer {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
}

table {
    margin: 25px;
}

td {
    /*border: 1px solid black;*/
    vertical-align: top;
}

.heading {
    font-size: 15px;
    font-weight: bold;
}

.author {
    color: #a0a0a0;
}

ul.general {
    list-style: none;
    padding-left: 0;
    font-size: 13px;
    margin-top: 2px;
}​

.left-column {
    width: 37%;
}

.right-column {
    width: 63%;
}

img.externallink {
    width: 0.9em;
    opacity: 0.7
}

img.icon {
    width: 1.3em;
}
